@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<p>Интернет-магазин Building Materials предлагает широкий выбор различных товаров для строительства, ремонта, оформления интерьеров городских квартир и загородных домов. Обратившись к нам, можно приобрести все необходимое для того, чтобы сделать свое жилище по-настоящему удобным, комфортным, стильным и благоустроенным в полном соответствии с самыми современными требованиями и стандартами.</p>
